<nb-layout>

  <nb-layout-header fixed>
    <nb-actions>
      <nb-action class="control-item" routerLink="/portfolio">Portfolio</nb-action>
      <nb-action class="control-item" routerLink="/about">About</nb-action>
      <nb-action class="control-item" routerLink="/blog">Blog</nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column class="colored-column-basic">

    <main [@routeAnimations]="prepareRoute(outlet)" class="content">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
  </nb-layout-column>

  <nb-layout-footer fixed>
  Contact me!
  </nb-layout-footer>

</nb-layout>
